@model System.Collections.Generic.IEnumerable<Project2.Core.Dtos.ExamTableDto>
<button type="button" class="btn btn-primary" style="margin-bottom: 10px;" onclick="createModal('@Url.Action("GetExamById", "Exam" , new {id=0 })')">
    <i class="fa-solid fa-plus fa-lg"></i>New
</button>
@{
    int i = 1;
}
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Student Name</th>
        <th scope="col">Student Surname</th>
        <th scope="col">Lesson</th>
        <th scope="col">Score</th>
        <th scope="col">Date</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in @Model)
    {
        <tr>
            <th scope="row">@i</th>
            <td>@item.StudentName</td>
            <td>@item.StudentSurname</td>
            <td>@item.LessonName</td>
            <td>@item.Score</td>
            <td>@item.ExamDate</td>
            <td style="display: flex;">
                <button type="button" class="btn btn-success"  onclick="createModal('@Url.Action("GetExamById", "Exam",new {id = @item.Id})')"><i class="fa-solid fa-pen-to-square"></i></button>
                <form asp-controller="Exam" asp-action="DeleteExam" asp-route-id="@item.Id"  method="post">
                    <button type="submit" class="btn btn-danger" style="margin-left: 6px;"><i class="fa-solid fa-trash-can"></i></button>
                </form>

            </td>
        </tr>
        i++;
    }

    </tbody>
</table>
<div class="modal" tabindex="-1" id="ModalPopUp" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="modalContent"></div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-1.10.0.min.js" integrity="sha256-2+LznWeWgL7AJ1ciaIG5rFP7GKemzzl+K75tRyTByOE=" crossorigin="anonymous"></script>