@model System.Collections.Generic.IEnumerable<Project2.Core.Dtos.LessonDto>
<button type="button" class="btn btn-primary" style="margin-bottom: 10px;" onclick="createModal('@Url.Action("GetLessonByCode", "Lesson" , new {code="" })')">
    <i class="fa-solid fa-plus fa-lg"></i>New
</button>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Lesson Name</th>
            <th scope="col">Teacher Name</th>
            <th scope="col">Teacher Surname</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
                <tr>
                    <th scope="row">@item.Code</th>
                    <td>@item.Name</td>
                    <td>@item.TeacherName</td>
                    <td>@item.TeacherSurname</td>
                    <td style="display: flex;">
                        <button type="button" class="btn btn-success" id="details-@item.Code" onclick="createModal('@Url.Action("GetLessonByCode", "Lesson" , new {id=item.Code })')"><i class="fa-solid fa-pen-to-square"></i></button>
                        <form asp-controller="Lesson" asp-action="DeleteLesson" asp-route-id="@item.Code" method="post">
                            <button type="submit" class="btn btn-danger" style="margin-left: 6px;"><i class="fa-solid fa-trash-can"></i></button>
                        </form>

                    </td>
                </tr>
        }

    </tbody>
</table>
<div class="modal" tabindex="-1" id="ModalPopUp" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="modalContent"></div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-1.10.0.min.js" integrity="sha256-2+LznWeWgL7AJ1ciaIG5rFP7GKemzzl+K75tRyTByOE=" crossorigin="anonymous"></script>
